<h1>All Articles </h1>
<% @posts.each do |post| %>
  <div class="posts">
  		<strong><%= post.title %></strong>
  		<p><%= image_tag(post.photo,:class=>"photo", :alt => "Edit Entry")%></p>
  		<p><%= truncate(strip_tags(post.body), :length => 85) %>
  			<%= link_to 'read more', post %> 
  		</p>
  </div>
    <%= link_to 'Show', post %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
 
<% end %>



<%= link_to 'New Post', new_post_path %>
