<h1>Listing posts</h1>

<% @posts.each do |post| %>
<div class ="page-header">

	<h3> <%= post.title %></h3>
	<hr/>
	<p>
		<%= post.content %>
	</p>
	<div class="meta">
		<%= link_to time_ago_in_words(post.created_at) +" ago", post %> 

		<span class="admin"><%= link_to 'Edit', edit_post_path(post) %></span>
		<span class="admin"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></span>
	</div>

</div>
<% end %>
<%= will_paginate @posts %>

<%= link_to 'New Post', new_post_path, :class=>'btn btn-success' %>

