<h1> All Questions</h1>

<table>
  <tr>
    <th>Question</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_questions.each do |user_question| %>
  <tr>
    <td><%= user_question.question %></td>
    <td><%= link_to 'Show', user_question %></td>
    <td><%= link_to 'Edit', edit_user_question_path(user_question) %></td>
    <td><%= link_to 'Destroy', user_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User question', new_user_question_path %>
