<h1> All Questions</h1>



<% @user_questions.each do |user_question| %>
  <div class="page-header">
    <%= user_question.question %>  
    <!-- <%=  time_ago_in_words(user_question.created_at.to_s )%> ago-->
   
    
    <%= link_to 'Show', user_question %>
   <%= link_to 'Edit', edit_user_question_path(user_question) %>
   <%= link_to 'Destroy', user_question, method: :delete, data: { confirm: 'Are you sure?' } %>
   </div>
<% end %>
<br/>


<%= link_to 'New User question', new_user_question_path %>
